body{background-color: lightseagreen;}
.options_container{
    width: 25%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
}
#map th, td {
    border: 1px solid black;
  }
#map {
    border: 1px solid black;
}
#map td{
      background-color: azure;
}
td{      
    height: 1vw;
    width: 1vw;
}
#menu_container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}
.Options{
    grid-column: 1;
    font-size: 1.2vw;
}
.Controls{
    grid-column: 2;
    font-size: 1.2vw;
}
.Instructions{
    font-size: 1.2vw;
}
ol{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#map{
    margin-left: auto;
    margin-right: auto;
}
input{
    font-size: 1.2vw;
}
button{
    font-size: 1.2vw;
}
.legends{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}
.legends table{
    color: white;
    grid-column: 2;
}
.legends label{
    grid-column: 1;
}